@import '../../assets/styles/colors.css';

.layout .sidebar-header {
    background-color: var(--bg-money-secondary-color);
    min-width: 20vw;
    min-height: 15vh;
}

.user-welcome {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px var(--text-shadow-color);
}

.layout .sidebar-header .user-info {
    margin: 1em 1em 0 1em;
    max-width: 100%;
    display: inline-block;
}

.layout .logout {
    width: 80%;
    margin: 0px auto 1em auto;
    text-align: center;
    font-size: 14px;
}

.layout .btn-logout {
    width: 50%;
    background-color: #DB5D5D;
    border: 0;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px var(--text-shadow-color);
}

.layout .btn-logout:hover {
    background-color: #b35050;
}

.layout .sidebar-header img {
    width: 50px;
}